body {
    background-color: #f8f8f8;
    font-family: Arial, Verdana;
}

.menu__list {
    list-style-type: none;
}

.menu__link {
    color: #483dbf;
    font: small-caps bold 16px Tahoma, Arial, Verdana;
    text-decoration: none;
}

.menu__link:hover {
    color: #8b2496;
    text-decoration: underline;
}

.menu__link:hover::after {
    content: " >>";
    font-size: 12px;

}

.logo {
    width: 200px;
    border: 2px outset grey;
    border-radius: 80px;
    padding: 5px;
}

.logo:hover {
    width: 210px;
    padding: 0px;
    border-color: #8b2496;

}

.product {
    font-family: Tahoma, Arial, Verdana;
}

.product h1 {
    color: black;
    font-variant: small-caps;
}

.product h2 {
    color: black;
    font-size: 22px;
    font-weight: 400;
    background-color: #eaeaea;
    font-variant: small-caps;
}

.product h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    font-variant: small-caps;
}

.product p:first-letter {
    font-size: 30px;
    font-family: monospace;
}

.brief {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.feature li {
    font-family: fantasy;
    font-size: 16px;
    list-style-image: url(../catalog/img/list.png);
}

.contacts input[type="text"] {
    border: 1px solid #cccccc;
    height: 18px;
    width: 150px;
    color: #6610f2;
    font-size: 18px;
    font-family: Tahoma !important;
}

.contacts [type="text"] {
    text-transform: capitalize;
}

.contacts input[type="email"] {
    border: 1px solid #cccccc;
    height: 18px;
    width: 150px;
    color: #6610f2;
    font-size: 18px;
    font-family: Tahoma !important;
}

.contacts input[type="email"]:focus {

    color: white;
    font-size: 18px;
    font-family: Tahoma !important;
    background: black;
}

.contacts {
    font-family: Tahoma, Arial, Verdana;
}

.preview {
    border: 7px outset grey;
    width: 400px;
}

.preview:hover {
    border: none;
    width: 400px;
    padding: 7px;
}

.catalog {
    font-family: Tahoma, Arial, Verdana;
}

.catalog a p {
    border: 1px dotted grey;
}

.catalog a p {
    font-family: Tahoma, Arial, Verdana;
    text-align: center;
    width: 400px;
}

button[type="submit"],
button[type="reset"] {
    width: 150px;
    height: 40px;
    font-size: 16px;
}

.feature_table {
    border-collapse: collapse;
    border: 3px solid grey;
    text-align: center;
}

.feature_table th,
td {
    border: 1px solid grey;
    padding: 15px;
}

.bonus_cards {
    text-align: center;
    vertical-align: middle;
}

.bonus_cards tr:first-child {
    height: 70px;
}
