body {
    background-color: #f8f8f8;
    font-family: Arial, Verdana;
}


.container {
    margin: 0 auto;
    width: 800px
}

.header {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background-image: url('../catalog/img/header_fon.png')
}

.footer {
    border-top: 1px solid black;
    height: 20px;
    background: #dcdcdc;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.menu {
    display: flex;
    border: 2px outset grey;
    border-radius: 20px;
    align-items: center;
    height: 40px;
    background: white;
    margin-right: 20px;

}

.logo img {
    width: 100px;
    border: 2px outset grey;
    border-radius: 80px;
    padding: 5px;
    background: white;
}

.logo {
    margin-left: 20px;
    
}

.logo img:hover {
    width: 110px;
    padding: 0px;
    border-color: #8b2496;

}

.menu__list {
    width: 120px;
    height: 17px;
    text-align: center;
    border-left: 1px solid black;

}

.menu__lisr:last-child {
    border-left: 0px solid black;
}

.menu__link {
    color: #483dbf;
    font: small-caps bold 16px Tahoma, Arial, Verdana;
    text-decoration: none;

}

.menu__link:hover {
    color: #8b2496;
    text-decoration: underline;
    font-size: 18px;

}



.product {
    font-family: Tahoma, Arial, Verdana;
}

.product h1 {
    color: black;
    font-variant: small-caps;
}

.product h2 {
    color: black;
    font-size: 22px;
    font-weight: 400;
    background-color: #eaeaea;
    font-variant: small-caps;
}

.product h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    font-variant: small-caps;
}

.product p:first-letter {
    font-size: 30px;
    font-family: monospace;
}

.brief p{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

}

.brief h3 {
    overflow: hidden;
}

.detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.feature li {
    
}

.contacts input[type="text"] {
    border: 1px solid #cccccc;
    height: 18px;
    width: 150px;
    color: #6610f2;
    font-size: 18px;
    font-family: Tahoma !important;
}

.contacts [type="text"] {
    text-transform: capitalize;
}

.contacts input[type="email"] {
    border: 1px solid #cccccc;
    height: 18px;
    width: 150px;
    color: #6610f2;
    font-size: 18px;
    font-family: Tahoma !important;
}

.contacts input[type="email"]:focus {

    color: white;
    font-size: 18px;
    font-family: Tahoma !important;
    background: black;
}

.contacts {
    font-family: Tahoma, Arial, Verdana;
}

.preview {
    border: 7px outset grey;
    width: 400px;
    float: left;
    margin-right: 10px;
}

.preview:hover {
    border: none;
    width: 400px;
    padding: 7px;
}

.detailed_description {
    clear: both;
}

/* Страница каталога товара */
.catalog {
    font-family: Tahoma, Arial, Verdana;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog_produckt {
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    padding: 2px;
    margin-bottom: 10px;
}

.catalog_produckt:hover {
    border: 3px solid #8276f5;
    padding: 1px;
    margin-bottom: 10px;
}

.catalog_produckt a p {
    font-family: Tahoma, Arial, Verdana;
    text-align: center;
    width: 250px;
}

.catalog_produckt img {
    width: 250px;
}

button[type="submit"],
button[type="reset"] {
    width: 150px;
    height: 40px;
    font-size: 16px;
}

.feature_table {
    border-collapse: collapse;
    border: 3px solid grey;
    text-align: center;
}

.feature_table th,
td {
    border: 1px solid grey;
    padding: 15px;
}

.bonus_cards {
    text-align: center;
    vertical-align: middle;
}

.bonus_cards tr:first-child {
    height: 70px;
}

.map {
    width: auto;
    padding: 10px;
}

/* Кнопка купить */
.button_buy {
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-style: normal;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background: #636cf9;
    font-size: 18px;
    
}

.button_buy:hover {
    background: #505bf3;
}

.button_buy:active {
    background: #0a1aef;
}
.buy{
    padding-top: 10px;
    
}